{% extends "personal/header.html" %}

{% block content %}

<P> This is a paragraph tag!! </p>
{% include "personal/includes/home.html" %}
{% include "personal/includes/home2.html" %}
{% include "personal/includes/home.html" %}
{% include "personal/includes/home2.html" %}
{% include "personal/includes/home.html" %}
{% include "personal/includes/home2.html" %}
{% include "personal/includes/home.html" %}
{% include "personal/includes/home2.html" %}
{% include "personal/includes/home.html" %}
{% include "personal/includes/home2.html" %}

{% endblock %}
